# Chapter 1: Numbers, Equations, and Inequalities
***

### Table of Contents

1. [Exercise on the multiplication table](#1.-Exercise-on-the-multiplication-table)
2. [An interesting property of numbers (WIP)](#2.-An-interesting-property-of-numbers-(WIP))
3. [Division by 11](#3.-Division-by-11)
4. [The divisibility of numbers](#4.-The-divisibility-of-numbers)

## 1. Exercise on the multiplication table
***
Construct sequence of numbers as follows:

$2 \cdot 3 = 6$

$3 \cdot 6 = 18$

$6 \cdot 1 = 6$, $1 \cdot 8 = 8$

Sequence: $2,3,6,1,8,6,8...$

**Prove** that numbers $5, 7, 9$ never appear in this sequence

#### Attempt:

We list the conditions for 5, 7, 9 to appear and check each one. All the ways for 5 to appear:

To get _5
- 1*5 = 5
- 3*5 = 15
- 5*5 = 25
- 7*5 = 35
- 9*5 = 45

Immediately, we have a problem. 5 is a prime number, so we need a 5 to generate _5, which is not possible in this sequence that starts with 2 and 3.

To get 5_, find factorial s.a. all are single digit
- 51 = 3*17
- 52 = 2 * 3 * 13
- 53 = 1 * 53
- **54 = 3 * 2 * 9 -> 6 * 9**
- 55 = 5 * 11
- **56 = 2 * 2 * 2 * 7 -> 8 * 7**
- 57 = 3 * 19
- 58 = 2 * 29
- 59 = 1 * 59

This requires the presence of 9 or 7. We repeat the exercise:

To get_7
- 1*7 = 7
- 3*9 = 27

To get 7_
- 72 = 8*9

Again since 7 is a prime number, we need a 9 to yield 27 or 72.

To get _9
- 1*9 = 9
- 3*3 = 9
- 7*7 = 49

To get 9_ is impossible given highest multiplication table of single digits is 81.

For 1 * 9, it is impossible because we are generating the first instance of 9.

For 3 * 3, we need either:
- 33, with factors 3 and 11, but 11 is a double digit
- _ 3.3 _ 

_ 3 must be 3 and not 63 because 63 requires 7 and 9. 3_ is either 3 or 32 (4 * 8). 3 is impossible because it is a prime that requires 3 * 1 and the only number after single 3 is 6 (2*3) or 2 (for 32). It is therefore impossible to follow a single 3 with 32. 

For 7 * 7, we need the number 7 which requires 9 so that's also not possible.

Since there cannot be 9, and 5 and 7 depend on 9, there also cannot be 5 or 7. So 5, 7, 9 never appears in this sequence.

#### Book Solution:

Starts with proving that the sequence cannot have two odd numbers in a row.

Let a b c d be an instance of the sequence for this exercise. 

Suppose a * b = cd. If cd is odd, then a and b must both be odd. c can be either odd or even.

Supose a * b = c. If c is odd, then a and b must both be odd.

In either case, the immediately two preceding terms must be odd. The first three sequences must either be:
- odd odd odd 
- odd odd even

The three starting digits in this sequence is 2, 3, and 6 which is even, odd, even. Therefore there cannot be any consecutive odd numbers.

It follows that the number 9 cannot appear as a product of 3 * 3. Also, numbers larger or equal to 90 are impermissible because the product requires one number with two digits e.g. 9 * 10. 

The number 7 requires the number 9 (8 * 9 = 72), and the number 5 requires either 7 or 9 (6 * 9 = 54 or 7 * 8 = 56). Since number 9 cannot appear, it follows that number 7 cannot appear, and number 5 cannot appear.

#### Code

In [1]:
class Q1():
    @staticmethod
    def split_number(n: int) -> list[int]:
        num_split = []
        i = len(str(n))
        while i > 0:
            num_split.append(int(str(n)[-i]))
            i -= 1
        return num_split

    # count is number of multiplications
    @classmethod
    def create_sequence(cls, a: int, b: int, count: int) -> list[int]:
        lst = [a, b]
        i = 0
        while i < count: 
            c = lst[i] * lst[i+1]
            lst.extend(cls.split_number(c))
            i += 1
        return lst

    @staticmethod
    def is_in_any(n_lst: int, seq_lst: list) -> bool:
        return any([x for x in list(set(seq_lst)) if x in n_lst])

    @staticmethod
    def is_in_all(n_lst: int, seq_lst: list) -> bool:
        return set(n_lst) < set(seq_lst)

    @staticmethod
    def count_nums(seq_lst: list) -> int:
        nums = [n for n in range(1,10)]
        total = len(seq_lst)
        for n in nums:
            count = len([x for x in seq_lst if x == n])
            print(f'for {n} in seq start {seq_lst[:2]}: {"%.0f" % (100*count/total)}%, {count}/{total}')

    @classmethod
    def print_solution(cls, seq):
        sub_seq1 = [5,7,9]
        sub_seq2 = [2,4,6]
        print(f'''
        for sequence {seq[0:10]}... of length {len(seq1)}
        any {sub_seq1} is in sequence: {cls.is_in_any(sub_seq1, seq)}
        any {sub_seq2} is in sequence: {cls.is_in_any(sub_seq2, seq)}
        all {sub_seq1} is in sequence: {cls.is_in_all(sub_seq1, seq)}
        all {sub_seq2} is in sequence: {cls.is_in_all(sub_seq2, seq)}
        check unique numbers of sequence: {set(seq)}
        ''')
        cls.count_nums(seq)

In [2]:
s1 = Q1()

In [3]:
seq1 = s1.create_sequence(a=2, b=3, count=10000)
seq2 = s1.create_sequence(a=3, b=7, count=10000)

In [4]:
s1.print_solution(seq1)
s1.print_solution(seq2)

        for sequence [2, 3, 6, 1, 8, 6, 8, 4, 8, 4]... of length 16747
        any [5, 7, 9] is in sequence: False
        any [2, 4, 6] is in sequence: True
        all [5, 7, 9] is in sequence: False
        all [2, 4, 6] is in sequence: True
        check unique numbers of sequence: {1, 2, 3, 4, 6, 8}

for 1 in seq start [2, 3]: 4%, 674/16747
for 2 in seq start [2, 3]: 27%, 4443/16747
for 3 in seq start [2, 3]: 2%, 317/16747
for 4 in seq start [2, 3]: 35%, 5931/16747
for 5 in seq start [2, 3]: 0%, 0/16747
for 6 in seq start [2, 3]: 17%, 2773/16747
for 7 in seq start [2, 3]: 0%, 0/16747
for 8 in seq start [2, 3]: 16%, 2609/16747
for 9 in seq start [2, 3]: 0%, 0/16747

        for sequence [3, 7, 2, 1, 1, 4, 2, 1, 4, 8]... of length 16747
        any [5, 7, 9] is in sequence: True
        any [2, 4, 6] is in sequence: True
        all [5, 7, 9] is in sequence: False
        all [2, 4, 6] is in sequence: True
        check unique numbers of sequence: {1, 2, 3, 4, 6, 7, 8}

for 1 in seq start [3, 7]: 10%, 1487/15555
for 2 in seq start [3, 7]: 25%, 3837/15555
for 3 in seq start [3, 7]: 4%, 665/15555
for 4 in seq start [3, 7]: 25%, 3815/15555
for 5 in seq start [3, 7]: 0%, 0/15555
for 6 in seq start [3, 7]: 19%, 2890/15555
for 7 in seq start [3, 7]: 0%, 1/15555
for 8 in seq start [3, 7]: 18%, 2860/15555
for 9 in seq start [3, 7]: 0%, 0/15555

## 2. An interesting property of numbers (WIP)
***
Add the squares of the digits of an arbitrary number e.g. 2583

$2^2+5^2+8^2+3^2 = 102$

Repeat with the new number obtained

- $1^2+0^2+2^2=5$
- $5^2=25$
- $2^2+5^2=29$
- $2^2+9^2=85$
- $8^2+5^2=89$
- $8^2+9^2=145$

And so on.

**Prove** that this procedure either leads to the number 1 (and therefore recurr indefinitely at $1^2=1$), or to the number 145 with the following sequence repeated indefinitely

$$145, 42, 20, 4, 16, 37, 58, 89$$

#### Attempt

Again, exploring single digits, but now with squares. Let's see if we can tell what's so special from listing the squares.

$0^2 = 0$   
$1^2 = 1$   
$2^2 = 4$   
$3^2 = 9$   
$4^2 = 16$  
$5^2 = 25$  
$6^2 = 36$  
$7^2 = 49$  
$8^2 = 64$  
$9^2 = 81$  

The only way to end up with $1$ is with $1 \cdot 10^n$, so $1^2 + 0^2 + 0^2 + ... + 0^2 = 1$

E.g. $5555$ gives 
- $5^2 + 5^2 + 5^2 + 5^2 = 100$
- $1^2 + 0^2 + 0^2 = 1$

We get $145 = 8^2 + 9^2 = 2^{3\cdot2} + 3^{2\cdot2} = 10^2\cdot1 + 10^1\cdot4 + 10^0\cdot5$

Highest is $9^2+9^2=162$
- $1^2+6^2+2^2=41$
- $4^2+1^2=17$
- $1^2+7^2=50$
- $5^2+0^2=25$
- $2^2+5^2=29$
- $2^2+9^2=85$
- $8^2+5^2=89$
- $8^2+9^2=145$

... I have no clue

### Book Solution

**First, establish that an arbitrary number with >=3 digits is greater in value than the sum of its squared digits.**

Let arbitrary number be $L = 10^{n-1}a_n + 10^{n-2}a_{n-1} + ... + 10^2a_3 + 10a_2 + a_1$ where $n=1,2,3...$ and $a_n=0,1,2,...,9$

Let sum of its squared digits of L be $L_s = a^2_n + a^2_{n-1} + ... + a^2_3 + a^2_2+ a^2_1$

$L-L_s = (10^{n-1}-a_n)a_n + (10^{n-2}-a_{n-1})a_{n-1} + ... + (10^2-a_3)a_3 + (10^1-a_2)a_2 - (a_1-1)a_1$

It follows that $(a_1-1)a_1 \le 72$, since max $a_1 = 9$

For $n\ge3$ and $a_n\neq0$, we have $(10^{n-1}-a_n)a_n\ge99$, for example for $n=3, a_n=1$, we have $(100-1)1\ge99$

For $n\ge2$ and $a_n\neq0$, we have $(10^{n-1}-a_n)a_n\ge0$, for example for $n=2, a_n=1$, we have $(10-1)1\ge0$

It follows that $L-L_s\ge99-72$ or $L-L_s\ge27$. Therefore we have the sequence $L_1 > L_2 > L_3 ...$ We have proved that for numbers **greater than 3 digits**, the original number will always be greater in value to the sum of its squared digits.

**Second, establish the same for numbers <3 digits**

Rewriting the inequality for n=3, $L-L_s\ge27$ means there is at least one number in the sequence of $L_1, L_2, L_3...$ that is a double digit number, given $L > L_1 > L_2 ... $. Recall that starting with triple digit number, our sequence will get smaller and smaller. 

Let that number be $L_q = 10j+k$ with sequence $L_{q+1}, L_{q+2}, L_{q+3}...$

Refer to table outlined in the book to validate each possible number of $j^2+k^2$

#### Code

In [167]:

def create_seq(n: int) -> list[int]:
    lst_split=Q1.split_number(n)
    n_new=sum([x**2 for x in lst_split])
    print(n_new)
    if n_new==145 or n_new==1:
        return None
    return create_seq(n_new)

In [90]:
import random

In [197]:
seed_num = random.randint(0,1e6)
print(f'seed: {seed_num}')
create_seq(seed_num)

seed: 551366
132
14
17
50
25
29
85
89
145

In [198]:
create_seq(4)

16
37
58
89
145

## 3. Division by 11
***

Prove that the number $5^{5k+1} + 4^{5k+2} + 3^{5k}$ is divisible by 11 for every natural k.

#### Attempt

#### Book Solution

Look at remainders!! Of course.

Rewrite above expression as $5^{\alpha} + 4^{\beta} + 3^{\gamma}$. Dividing each term by 11, we get corresponding remainders $R(5^{\alpha}), R(4^{\beta}), R(3^{\gamma})$.

We want $R(5^{\alpha}) + R(4^{\beta}) + R(3^{\gamma})$ to be a multiple of 11. From table below, $\alpha=6, \beta=7, \gamma=0$ will yield a sum of $5+5+1=11$.

From the table, we see that's $5^6 + 4^7 + 3^0$, or equivalently $5^{5k+1} + 4^{5k+2} + 3^{5k}$ when $k=1$. 

For all other $k=2,3,4...$ results in same pattern of remainders, therefore $5^{5k+1} + 4^{5k+2} + 3^{5k}$ is divisible by 11 for all natural $k$.

There can be other solutions as well, e.g. $5^5+4^3+3^5$ is also divisible by 11 because it gives sum of remainders $1+9+1=11$.

In [283]:
def print_remainder(n: int, d:int) -> None:
    for p in [q for q in range(0,10)]:
        print(f'{n}^{p} %{d} {(n**p)%d}')

In [284]:
for x in [5,4,3]:
    print_remainder(x, 11)
    print('\n')

5^0 %11 1
5^1 %11 5
5^2 %11 3
5^3 %11 4
5^4 %11 9
5^5 %11 1
5^6 %11 5
5^7 %11 3
5^8 %11 4
5^9 %11 9


4^0 %11 1
4^1 %11 4
4^2 %11 5
4^3 %11 9
4^4 %11 3
4^5 %11 1
4^6 %11 4
4^7 %11 5
4^8 %11 9
4^9 %11 3


3^0 %11 1
3^1 %11 3
3^2 %11 9
3^3 %11 5
3^4 %11 4
3^5 %11 1
3^6 %11 3
3^7 %11 9
3^8 %11 5
3^9 %11 4

In [297]:
def check_divisible(n: int, d: int) -> bool:
    return n%d==0

In [300]:
for k in [k for k in range(1,10)]:
    num = 5**(5*k+1) + 4**(5*k+2) + 3**(5*k)
    divisor=11
    result = check_divisible(num, divisor)
    print(f'k={k}, {num} is divisible by {divisor}: {result}')

k=1, 32252 is divisible by 11: True
k=2, 65664390 is divisible by 11: True
k=3, 169782108716 is divisible by 11: True
k=4, 494432831031942 is divisible by 11: True
k=5, 1508131365182857052 is divisible by 11: True
k=6, 4675059823042234224390 is divisible by 11: True
k=7, 14570804744329875486495116 is divisible by 11: True
k=8, 45494077913917911421604180742 is divisible by 11: True
k=9, 142128354195602915965174073201852 is divisible by 11: True

We can repeat this for other divisions, e.g. solve for $2^{\alpha} + 3^{\beta} + 4^{\gamma}$ such that the sum is divisible by 3. We print table (below) and solve, e.g. $2^{3} + 3^{0} + 4^{1}$ is divisible by 3 because the sum of remainder of each term divided by 3 is a multiple of 3. 

The expression $2^{2k} + 3^{k-k} + 4^{k}$ is divisible by 3 for all natural $k$.

In [312]:
for x in [2,3,4]:
    print_remainder(x, 3)
    print('\n')

2^0 %3 1
2^1 %3 2
2^2 %3 1
2^3 %3 2
2^4 %3 1
2^5 %3 2
2^6 %3 1
2^7 %3 2
2^8 %3 1
2^9 %3 2


3^0 %3 1
3^1 %3 0
3^2 %3 0
3^3 %3 0
3^4 %3 0
3^5 %3 0
3^6 %3 0
3^7 %3 0
3^8 %3 0
3^9 %3 0


4^0 %3 1
4^1 %3 1
4^2 %3 1
4^3 %3 1
4^4 %3 1
4^5 %3 1
4^6 %3 1
4^7 %3 1
4^8 %3 1
4^9 %3 1

In [314]:
for k in [k for k in range(1,10)]:
    num = 2**(2*k) + 3**(k-k) + 4**(k)
    divisor=3
    result = check_divisible(num, divisor)
    print(f'k={k}, {num} is divisible by {divisor}: {result}')

k=1, 9 is divisible by 3: True
k=2, 33 is divisible by 3: True
k=3, 129 is divisible by 3: True
k=4, 513 is divisible by 3: True
k=5, 2049 is divisible by 3: True
k=6, 8193 is divisible by 3: True
k=7, 32769 is divisible by 3: True
k=8, 131073 is divisible by 3: True
k=9, 524289 is divisible by 3: True

## 4. The divisibility of numbers
***

The number $3^{105} + 4^{105}$ is divisible by 13, 49, 181, and 279, and is not divisible either by 5 or 11. 

How can this result be confirmed?

#### Attempt

We can brute force the result with code, but let's reason through it first.

The sum of the remainders of each term in the expression divided by the divisor must be a multiple of that divisor in order for the results obtained by the expression to be divisible by that divisor.

In other words, for $R_n(3^\alpha + 4^\beta) = 0$ to be true where $n$ is the divisor and $R_n()$ is the remainder from $n$, the following must be true: $R_n(3^\alpha) + R_n(4^\beta) = k\cdot n$ for all natural $k$