# Chapter 1: Numbers, Equations, and Inequalities
***

## 1. Exercise on the multiplication table

Construct sequence of numbers as follows:

$2 \cdot 3 = 6$

$3 \cdot 6 = 18$

$6 \cdot 1 = 6$, $1 \cdot 8 = 8$

Sequence: $2,3,6,1,8,6,8...$

**Prove** that numbers $5, 7, 9$ never appear in this sequence

#### Attempt:

We list the conditions for 5, 7, 9 to appear and check each one. All the ways for 5 to appear:

To get _5
- 1*5 = 5
- 3*5 = 15
- 5*5 = 25
- 7*5 = 35
- 9*5 = 45

Immediately, we have a problem. 5 is a prime number, so we need a 5 to generate _5, which is not possible in this sequence that starts with 2 and 3.

To get 5_, find factorial s.a. all are single digit
- 51 = 3*17
- 52 = 2 * 3 * 13
- 53 = 1 * 53
- **54 = 3 * 2 * 9 -> 6 * 9**
- 55 = 5 * 11
- **56 = 2 * 2 * 2 * 7 -> 8 * 7**
- 57 = 3 * 19
- 58 = 2 * 29
- 59 = 1 * 59

This requires the presence of 9 or 7. We repeat the exercise:

To get_7
- 1*7 = 7
- 3*9 = 27

To get 7_
- 72 = 8*9

Again since 7 is a prime number, we need a 9 to yield 27 or 72.

To get _9
- 1*9 = 9
- 3*3 = 9
- 7*7 = 49

To get 9_ is impossible given highest multiplication table of single digits is 81.

For 1 * 9, it is impossible because we are generating the first instance of 9.

For 3 * 3, we need either:
- 33, with factors 3 and 11, but 11 is a double digit
- _ 3.3 _ 

_ 3 must be 3 and not 63 because 63 requires 7 and 9. 3_ is either 3 or 32 (4 * 8). 3 is impossible because it is a prime that requires 3 * 1 and the only number after single 3 is 6 (2*3) or 2 (for 32). It is therefore impossible to follow a single 3 with 32. 

For 7 * 7, we need the number 7 which requires 9 so that's also not possible.

Since there cannot be 9, and 5 and 7 depend on 9, there also cannot be 5 or 7. So 5, 7, 9 never appears in this sequence.

#### Book Solution:

Similar to attempt, but starts with proving that the sequence cannot have two odd numbers in a row.

Let a b c d be an instance of the sequence for this exercise. 

Suppose a * b = cd. If cd is odd, then a and b must both be odd. c can be either odd or even.

Supose a * b = c. If c is odd, then a and b must both be odd.

In either case, the immediately two preceding terms must be odd. The first three sequences must either be:
- odd odd odd 
- odd odd even

The three starting digits in this sequence is 2, 3, and 6 which is even, odd, even. Therefore there cannot be any consecutive odd numbers.

It follows that the number 9 cannot appear as a product of 3 * 3. Also, numbers larger or equal to 90 are impermissible because the product requires one number with two digits e.g. 9 * 10. 

The number 7 requires the number 9 (8 * 9 = 72), and the number 5 requires either 7 or 9 (6 * 9 = 54 or 7 * 8 = 56). Since number 9 cannot appear, it follows that number 7 cannot appear, and number 5 cannot appear.

#### Code

In [422]:
def split_number(n: int) -> list[int]:
    num_split = []
    i = len(str(n))
    while i > 0:
        num_split.append(int(str(n)[-i]))
        i -= 1
    return num_split

# count is number of multiplications
def create_sequence(a: int, b: int, count: int) -> list[int]:
    lst = [a, b]
    i = 0
    while i < count: 
        c = lst[i] * lst[i+1]
        lst.extend(split_number(c))
        i += 1
    return lst

def is_in_any(n_lst: int, seq_lst: list) -> bool:
    return any([x for x in list(set(seq_lst)) if x in n_lst])

def is_in_all(n_lst: int, seq_lst: list) -> bool:
    return set(n_lst) < set(seq_lst)

def count_nums(seq_lst: list) -> int:
    nums = [n for n in range(1,10)]
    total = len(seq_lst)
    for n in nums:
        count = len([x for x in seq_lst if x == n])
        print(f'for {n} in seq start {seq_lst[:2]}: {"%.0f" % (100*count/total)}%, {count}/{total}')
        
def print_solution(seq):
    sub_seq1 = [5,7,9]
    sub_seq2 = [2,4,6]
    print(f'''
    for sequence {seq[0:10]}... of length {len(seq1)}
    any {sub_seq1} is in sequence: {is_in_any(sub_seq1, seq)}
    any {sub_seq2} is in sequence: {is_in_any(sub_seq2, seq)}
    all {sub_seq1} is in sequence: {is_in_all(sub_seq1, seq)}
    all {sub_seq2} is in sequence: {is_in_all(sub_seq2, seq)}
    check unique numbers of sequence: {set(seq)}
    ''')
    count_nums(seq)

In [410]:
seq1 = create_sequence(a=2, b=3, count=10000)
seq2 = create_sequence(a=3, b=7, count=10000)

In [423]:
print_solution(seq1)
print_solution(seq2)

    for sequence [2, 3, 6, 1, 8, 6, 8, 4, 8, 4]... of length 16747
    any [5, 7, 9] is in sequence: False
    any [2, 4, 6] is in sequence: True
    all [5, 7, 9] is in sequence: False
    all [2, 4, 6] is in sequence: True
    check unique numbers of sequence: {1, 2, 3, 4, 6, 8}

for 1 in seq start [2, 3]: 4%, 674/16747
for 2 in seq start [2, 3]: 27%, 4443/16747
for 3 in seq start [2, 3]: 2%, 317/16747
for 4 in seq start [2, 3]: 35%, 5931/16747
for 5 in seq start [2, 3]: 0%, 0/16747
for 6 in seq start [2, 3]: 17%, 2773/16747
for 7 in seq start [2, 3]: 0%, 0/16747
for 8 in seq start [2, 3]: 16%, 2609/16747
for 9 in seq start [2, 3]: 0%, 0/16747

    for sequence [3, 7, 2, 1, 1, 4, 2, 1, 4, 8]... of length 16747
    any [5, 7, 9] is in sequence: True
    any [2, 4, 6] is in sequence: True
    all [5, 7, 9] is in sequence: False
    all [2, 4, 6] is in sequence: True
    check unique numbers of sequence: {1, 2, 3, 4, 6, 7, 8}

for 1 in seq start [3, 7]: 10%, 1487/15555
for 2 in seq start [3, 7]: 25%, 3837/15555
for 3 in seq start [3, 7]: 4%, 665/15555
for 4 in seq start [3, 7]: 25%, 3815/15555
for 5 in seq start [3, 7]: 0%, 0/15555
for 6 in seq start [3, 7]: 19%, 2890/15555
for 7 in seq start [3, 7]: 0%, 1/15555
for 8 in seq start [3, 7]: 18%, 2860/15555
for 9 in seq start [3, 7]: 0%, 0/15555

## 2. An Interesrting property of numbers

Add the squares of the digits of an arbitrary number e.g. 2583

$2^2+5^2+8^2+3^2 = 102$

Repeat with the new number obtained

- $1^2+0^2+2^2=5$
- $5^2=25$
- $2^2+5^2=29$
- $2^2+9^2=85$
- $8^2+5^2=89$
- $8^2+9^2=145$

And so on.

**Prove** that this procedure either leads to the number 1 (and therefore recurr indefinitely at $1^2=1$), or to the number 145 with the following sequence repeated indefinitely

$$145, 42, 20, 4, 16, 37, 58, 89$$

#### Attempt

Again, exploring single digits, but now with squares. Let's see if we can tell what's so special from listing the squares.

$0^2 = 0$   
$1^2 = 1$   
$2^2 = 4$   
$3^2 = 9$   
$4^2 = 16$  
$5^2 = 25$  
$6^2 = 36$  
$7^2 = 49$  
$8^2 = 64$  
$9^2 = 81$  

The only way to end up with $1$ is $1 \cdot 10^n$, so $1^2 + 0^2 + 0^2 + ... + 0^2 = 1$

E.g. $5555$ gives 
- $5^2 + 5^2 + 5^2 + 5^2 = 100$
- $1^2 + 0^2 + 0^2 = 1$